body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    gap: 20px;
    background-color: #bed2d1;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    color: #0a0a0a;
}

img.header-img {
    width: 200px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 100px;
    background-color: #bed2d1;
    padding: 100px;
}

.heroText {
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.heroText h3 {
    color: #000000;
    font-size: 34px;
    margin: 0;
    border-bottom: 1px dotted black;
}

.heroText p {
    color: #000000;
    margin: 0;
}

button.signup {
    margin-top: 8px;
    color: black;
    background-color: peachpuff;
    height: 40px;
    width: 100px;
}

img.farm {
    width: 400px;
    max-height: 280px;
    border: 2px solid black;
    border-radius: 2%;
}

.intros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 50px;;
    flex: auto;
    padding: 0 70px 32px 70px;
}

.staff-heading {
    margin-top: 32px;
    text-align: center;
}

.about-box {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    width: 300px;
    height: 520px;
}

.about-img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.about-text {
    text-align: center;
    width: 80%;
    font-size: 1.2em;
}

.about-text p,
.about-text h4,
.about-text h3 {
    margin: 16px 0;
    color: rgb(58, 58, 58);
}

.images {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
}

.wrapper {
    font-size: 30px;
    background-color: #ffdb58;
    color:rgb(58, 58, 58);
    padding: 100px 200px;
}

.wrapper h3 {
    text-align: end;
    color:rgb(0, 0, 0);
}

.bottomWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    background-color: #bed2d1;
    border-radius: 10px;
    margin: 50px;
}

.call-to-action button {
    height: 40px;
    width: 100px;
}

.call-text {
    padding: 20px;
}

footer {
    margin-top: auto;
}